/* .makeStyles-container-14{
   justify-content: center;
   gap: 25px;
} */

#booking-button{
   width:350px;
   background-color:rgb(60, 189, 206);
   color:white;
   font-weight: bolder;
cursor: pointer;
}

#booking-room{
   width:350px;
}

.travel-warning{
   color:red;
   font-size: small;
}

#booking-header{
   padding-top: 50px;
}

#booking-form{
   padding-top: 50px;
   justify-content: center;
}

#booking-warning{
   padding-top: 40px;
}

@media only screen and (max-width: 320px) {
   #booking-form{
    padding-top: 400px; 
     width: 150px;
    position: relative;
    left:80px;
   }
#booking-room{
   width: 142px;
}
 }

 @media only screen and (max-width: 375px) {
   #booking-form{
    padding-top: 100px; 
     width: 150px;
    position: relative;
    left:250px;
   }

 }
 