.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15em;
    padding-bottom:50px;
}

.section{
  
    padding-top: 50px;
    font-size: 0.83em;
    font-weight: bold;
    text-align: left;
    left: 80px;
    position: relative;
}

/* .lists{
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    font-size: 12px;
    line-height: 30px;
   padding-left: 180px;
   border-bottom-width: 0;
   border-top-width: 0;
   border-right-width: 0;
   position: relative;
   color:black;
} */
.lists{
    display:flex;
    border: 1px solid rgb(0, 0, 0);
    border-bottom-width: 0;
   border-top-width: 0;
  padding-right: 70px;
  font-size: 12px;
  line-height: 30px;
}

a.lists{
    text-decoration: none;
    color:black;
}


.footer-list{
    list-style-type: none;
}

.footer-list li:hover {
    text-decoration: underline;
}

/* .email{
    border: 1px solid rgb(0, 0, 0);
    position: relative;
    right:100px;
    padding-left: 100px;
    border-bottom-width: 0;
   border-top-width: 0;
   border-right-width: 0;
   padding-bottom: 40px;
} */

.mail{
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
}


@media only screen and (max-width: 959px) {
    
   
    .footer-container{
        width:50px;
    }
      
    }
  
    @media only screen and (max-width: 320px) {
       .footer-list{
           width: 50px;
       }

       .email{
        display: none;
       }
      .mail{
          display: none;
      }
      .lists{
      border-right-width:0;
      border-left-width:0;
    }
      }

      