.logo{
    text-align: left;
    padding-left: 360px;
    padding-top: 100px;
}

@media only screen and (max-width: 320px) {
   .logo{
     position: relative;
     right: 290px;
     padding-bottom: 20px;
     display:hidden;
   }
    }

    @media only screen and (max-width: 375px) {
      .logo{
        position: relative;
        right: 120px;
        
      }
       }