.icon-container{
    display: grid;
    grid-gap: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;
}

@media only screen and (max-width: 320px) {
   .icon-container{     
       grid-gap: 10px;
   }
     }

     @media only screen and (max-width: 375px) {
        .icon-container{     
            grid-gap: 40px;
            display:flex;
           position: relative;
           left:140px;
        }
          }